BASE_URL=http://your-backend.test
SECURE=false
PUSHER_KEY=YOUR_PUSHER_KEY
STRIPE_KEY=YOUR_STRIPE_KEY
PUSHER_CLUSTER=mt1
WS_URL=http://localhost:3000
RTMP_SERVER=rtmp://global-live.mux.com:5222/app
FFMPEG_DEBUG=false
SENTRY_DSN=
