BASE_URL=http://your-backend.test
SECURE=false
PUSHER_KEY=YOUR_PUSHER_KEY
STRIPE_KEY=YOUR_STRIPE_KEY
PUSHER_CLUSTER=mt1
WS_URL=http://localhost:3000
SENTRY_DSN=
SENTRY_DISABLED=
MAX_RETRIES=
GOOGLE_TAG_MANAGER_ID=

BREAKING_BREAD_ID=
