/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 2px #000000;
  }

  @variants hover {
    .text-light-white {
      text-shadow: 1px 1px 7px #FFFFFF;
    }

    .text-light-turquoise {
      text-shadow: 1px 1px 7px #2CD7FF;
    }

    .text-light-yellow {
      text-shadow: 1px 1px 7px #FFD243;
    }

    .text-light-red {
      text-shadow: 1px 1px 7px #FF2F2F;
    }
  }

  @responsive {
    .ta-hidden {
      display: none;
    }
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}
